*/*.log,*
*/*.log
*/*.rpt
*/*.rpt,*
*/*.tag
*/allegro.jrl
*/allegro.jrl,*
*/*.OBK
*/*.OLBlck

*/*/*.log,*
*/*/*.log
*/*/*.rpt
*/*/*.rpt,*
*/*/*.tag
*/*/allegro.jrl
*/*/allegro.jrl,*
*/*/*.OBK
*/*/*.OLBlck

pads/padstack_editor.jrl
pads/padstack_editor.jrl,1
symbol/Spe/padstack_editor.jrl,1
symbol/Spe/padstack_editor.jrl
